#intro
{
    width: 500px;
    
font-size: 25px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.background{
    background-color: aquamarine;
}
  
#school_img
{
    height: 350px;

    border-radius: 30px;
}

